*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --header-height: 100px;
  min-width: 320px;
}

body {
  margin: 7px;
  background: rgb(211, 211, 211);

}
.wrapper {
  
  margin: 0 20px;
  display: grid;
  /* grid-gap: 1px; */
}

.header {
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: var(--header-height);
  background-color: rgb(75, 64, 236);
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  
}

.header__icon{
    max-width: 100%; 
}
@media screen and (max-width: 768px) {
    .header__icon{
        width: 3.125rem;
  height: 3.125rem;
  object-fit: contain;
  margin: 0.5rem 0.7rem;
    }
    
}
@media screen and (max-width: 480px) {
    .header__icon{
        width: 3.125rem;
  height: 3.125rem;
  object-fit: contain;
  margin: 0.5rem 0.7rem;
    }
    
}

.header__titleHeader {
    font-size: 250%;
}
.main {
  background-color: rgb(91, 206, 235);
  border-left: rgb(55, 138, 233) 1.5px solid;
  border-right: rgb(55, 138, 233) 1.5px solid;
}



.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: white;
  border-left: gray 1.5px solid;
  border-right: gray 1.5px solid;
  border-bottom: gray 1.5px solid;
}

.main__container_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_container_rigth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: auto;
  padding: 0.625rem;
  margin: 0.625rem;
  border-radius: 15px;
  font-family: "Prompt", sans-serif;
  font-size: 20px;
}

.main__cardTitle {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  margin-top: 1rem;
}

.main__iconWater {
  height: 7rem;
  border-radius: 15px;
  cursor: pointer;
  padding: 0.5rem;
}

.main__titleName {
  color: black;
  margin-left: 0.3rem;
  margin-right: 1rem;
  font-size: 2.5rem;
}

.main__imagePokemon {
  position: relative;
  top: 1.0rem;
 
  
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td, th {
  text-align: center;
  padding: 8px;
  border: 1px solid #dddddd;
}
th {
    font-size: small;
    width: 150px;
}
td{
    font-weight: bold;
 
}
tr:nth-child(even) {
    background-color: #dddddd;
  }


.cardInfo {
  margin-bottom: 21px;
  background-color: #212e8fd6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  margin-top: 1rem;
  color: #f0f0f0;
}

.footer__title-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
}

.footer__footer-buttomspokemon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
  width: 5.5rem;
  background-color: lightgray;
  border-radius: 7rem;
  cursor: pointer;
}

.footer__footer-buttomspokemon:hover {
  background-color: gray;
  border: black 2px solid;
  transform: scale(1.1);

}

.footer__footer-buttomspokemon-img:hover {
  transform: rotateY(360deg);
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.footer__footer-buttomspokemon-img {
  height: 5rem;
  width: 5rem;
}

.footer__footer-buttoms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 10px 0px;
  background-color: white;
}

.footer__container-foote {
  align-items: center;
  object-fit: scale-down;
  justify-content: space-between;
}

@media screen and (min-width: 500px) {

  .wrapper {
    margin: 0 auto;
  }

  .header, .footer, .main {
    grid-column: 1 / -1;
    clear: both;
  }

  .main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .main_container_rigth {
    width: 30%;
  }

  
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .titleFooter {
    margin-right: 5rem;
  }

  .containerFooter {
    display: flex;
    align-items: center;
    object-fit: scale-down;
    justify-content: space-between;
  }

  .footer__footer-buttoms {
    display: flex;
  }
}

.wrapper>* {
  padding: 20px;
  margin-bottom: 10px;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper>* {
    width: auto;
    margin: 0;
  }
}